body {
        color: #5ee1e6;
        font-size: 20px;
        background-color: #141312;
        height: 50px;
        width: 70px;
      }
      img{
        height:200px;
        width:500px;
      }

