body {
        color: #5ee1e6;
        font-size: 20px;
        background-color: #141312;
        height: 50px;
        width: 70px;
      }
      img{
        height:200px;
        width:500px;
      }
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  float: left;
  /* Ubahlah padding atas & bawah ke 33px, dan padding kiri & kanan ke 20px */
  
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  /* Ubahlah padding atas & bawah ke 20px, dan padding kiri & kanan ke 40px */
  
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}
